PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:3001

JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=7d

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/back_focus?schema=public"

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Mercado Pago
MP_ACCESS_TOKEN=

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com